
  .movie-page {
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.FSzCxziSVojVC0Vlb9CKrgHaEK&pid=Api&P=0&h=180"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8); 
  width: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
}
.Breadcrumb{
  list-style: none !important;
  text-decoration: none !important;
  color: white !important;
}