/* src/components/ScrollToTop.css */
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}

.scroll-button {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 1);
  background-color: #f8f9fa;;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.scroll-button:hover {
  color: #fff;
  background-color: #0d6efd;
}
