
  .movie-page {
  background-image: url("https://wallpapercave.com/wp/wp1812408.jpg"); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8); 
  width: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
}
.Breadcrumb{
  list-style: none !important;
  text-decoration: none !important;
  color: white !important;
}